
@{
    ViewData["Title"] = "About";
}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="breadcrumb-title">About Us</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- main-content-wrap start -->
<div class="main-content-wrap about-us-page">
    <!-- about-area start -->
    <div class="about-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-image">
                        <a href="#"><img src="~/images/about/about-1.jpg" alt=""></a>
                        <span class="text_left">Welcome To Furniture</span>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="about-contents">
                        <h3>Dining Table Set</h3>
                        <div class="price-box">
                            <span class="old-price">$330.00</span>
                            -
                            <span class="new-price"> $230.00</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius tem incidid ut labore et dolore mag aliqua. Ut enim ad minim veniam, quis nostrud exercitati ullamco laboris nisi ut aliquip ex ea commodo consequ. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepte sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                        <button class="btn shop-btn-two">
                            SHOP NOW
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-area end -->

    <div class="project-count-area pb--70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-count text-center mb--30">
                        <div class="count-title">
                            <h2 class="count">21</h2>
                            <span>Years in Business</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-count text-center mb--30">
                        <div class="count-title">
                            <h2 class="count">210</h2>
                            <span>Clients and Partners</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-count text-center mb--30">
                        <div class="count-title">
                            <h2 class="count">18</h2>
                            <span>Show Room</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-count text-center mb--30">
                        <div class="count-title">
                            <h2 class="count">17</h2>
                            <span>Billon Sales</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   </div>
<!-- main-content-wrap end -->
